.info {
  height: 100%;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 4px solid #ab7f43;
  background-color: #502613;
}

.title {
  font-size: 24px;
}

.buttons {
  display: flex;
  flex-grow: 1;
  padding: 20px;
  gap: 10px;
}

.messageWrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.message {
  font-size: 24px;
  display: flex;
  align-items: center;
}
