@import '../assets/fonts/04b03/stylesheet.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game {
  position: relative;
  font-family: '04b03', monospace;
  user-select: none;
}

#game-canvas {
  display: block;
}

#game-components-root {
  position: absolute;
  inset: 0;
}
